<head>
	<meta charset="utf-8">
	<title>API</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/api_search.css') }}">
</head>

<!--透過GET傳送到API-->  
<body>
  <a id="combinedLink" class="logout" href="javascript:void(0);">登出並重新整理</a>

  <script>
    document.getElementById("combinedLink").addEventListener("click", function() {
      // 第一步：發送Ajax請求到登出連結
      var xhrLogout = new XMLHttpRequest();
      xhrLogout.open("POST", "http://127.0.0.1:5000/api", true, "logout", "");
      alert('登出成功！');
      xhrLogout.send();
    });
  </script>


  <div class="login-box">
    <h2>查看</h2>
    <form action="/api" method="GET">

      <div class="user-box">
        <input type="number" name="limit" required>
        <label>limit(資料數量)</label>
      </div>

      <button id='submitbutton' type='submit' >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      GET
      </button>
    </form>
  </div>

<!--透過POST傳送到API-->
  <div class="login-box">
    <h2>新增</h2>
    <form action="/api" method="POST">

      <div class="user-box">
        <input type="text" name="title" required>
        <label>title(飯店名稱)</label>
      </div>

      <div class="user-box">
        <input type="text" name="price" required>
        <label>price(價格)</label>
      </div>

      <div class="user-box">
        <input type="text" name="loc" required>
        <label>loc(區域)</label>
      </div>

      <div class="user-box">
        <input type="text" name="link_url" >
        <label>link_url(訂房連結)</label>
      </div>

      <div class="user-box">
        <input type="text" name="rate" >
        <label>rate(評分)</label>
      </div>

      <div class="user-box">
        <input type="text" name="platform" >
        <label>platform(平台)</label>
      </div>

      <div class="user-box">
        <input type="text" name="photo_url" >
        <label>photo_url(照片連結)</label>
      </div>

      <button id='submitbutton' type='submit' >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      POST
      </button>
    </form>
  </div>

<!--透過Axios(JavaScript庫) 傳送PUT請求-->
  <div class="login-box">
    <h2>更新</h2>
    <form id="putform" action="/api" method="POST">

      <div class="user-box">
        <input type="text" name="title" required>
        <label>title(飯店名稱)</label>
      </div>

      <div class="user-box">
        <input type="text" name="price" required>
        <label>price(價格)</label>
      </div>

      <div class="user-box">
        <input type="text" name="loc" required>
        <label>loc(區域)</label>
      </div>

      <div class="user-box">
        <input type="text" name="link_url" >
        <label>link_url(訂房連結)</label>
      </div>

      <div class="user-box">
        <input type="text" name="rate" >
        <label>rate(評分)</label>
      </div>

      <div class="user-box">
        <input type="text" name="platform" >
        <label>platform(平台)</label>
      </div>

      <div class="user-box">
        <input type="text" name="photo_url" >
        <label>photo_url(照片連結)</label>
      </div>

<!--將type改為button，按下後執行下方script-->
      <button id="submitbutton" type="button" onclick="updateResource()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      PUT
      </button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
      function updateResource() {
          var formData = new FormData(document.getElementById('putform'));
  
          axios({
              method: 'put',
              url: '/api',  // 根據你的 Flask 路由設置，這裡應該是正確的路徑
              data: formData,
              headers: {
                  'Content-Type': 'multipart/form-data'
              }
          })
          .then(function (response) {
              console.log(response);
              // 成功處理回應的邏輯，例如更新成功的提示
              alert('更新成功！');
          })
          .catch(function (error) {
              console.error(error);
              // 處理錯誤，例如顯示錯誤訊息給用戶
              alert('更新失敗：' + error.message);
          });
      }
  </script>

<!--透過Axios(JavaScript庫) 傳送PUT請求-->
  <div class="login-box">
    <h2>刪除</h2>
    <form id="deleteform" action="/api" method="POST">

      <div class="user-box">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" name="title" required>
        <label>title(飯店名稱)</label>
      </div>
<!--將type改為button，按下後執行下方script-->
      <button id="submitbutton" type="button" onclick="deleteResource()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      GET
      </button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
      function deleteResource() {
          var formData = new FormData(document.getElementById('deleteform'));
  
          axios({
              method: 'delete',
              url: '/api',  // 根據你的 Flask 路由設置，這裡應該是正確的路徑
              data: formData,
              headers: {
                  'Content-Type': 'multipart/form-data'
              }
          })
          .then(function (response) {
              console.log(response);
              // 成功處理回應的邏輯，例如更新成功的提示
              alert('刪除成功！');
          })
          .catch(function (error) {
              console.error(error);
              // 處理錯誤，例如顯示錯誤訊息給用戶
              alert('刪除失敗：' + error.message);
          });
      }
  </script>


</body>
</html>


